form.form {
  gap: 8px;
  display: flex;
  margin-top: 36px;
  margin-bottom: 32px;
  justify-content: center;
}

.form-input {
  height: 40px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #808080;
}

.form-input:hover {
  border-color: #000;
}

.form-input:focus {
  border-color: #4e75ff;
}

.submit-btn {
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #4e75ff;
}

.submit-btn:hover {
  background-color: #6c8cff;
}

ul.gallery {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  max-width: 1128px;

  gap: 24px;
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  border: 1px solid #808080;
  flex: 1 1 calc(100% / 3 - 24px);
}

.gallery-item-info {
  display: flex;
  padding: 4px 0;
  justify-content: space-evenly;
}

.info-col {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.info-label {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3333em;
  letter-spacing: 0.04em;
}

.info-value {
  font-size: 12px;
  line-height: 2em;
  letter-spacing: 0.04em;
}

.gallery-link {
  display: block;
}

.gallery-image {
  max-width: 100%;
}

.load-more {
  margin: 20px 0;
}
